.DS_Store
.gradle
.settings
.idea
*.iml
assets
bin
gen
build
local.properties
gradle.properties

# ignore vim swap files
*.sw?

# JAR releases
android/libs/*.jar

# ctags
tags


# Mozilla Special Sauce
# Never commit your private.properties file or your keystore
android/properties/**

*.keystore

# Ignore final release APK builds
outputs/*
