.DS_Store
.gradle
.settings
.idea
*.iml
assets
bin
gen
build
*.keystore
local.properties

# ignore vim swap files
*.sw?

# JAR releases
android/libs/*.jar

# ctags
tags

# Mozilla Special Sauce
gradle.properties
private.properties
