language: java
jdk: oraclejdk7

before_script:
    - sudo apt-get update -qq
    - if [ `uname -m` = x86_64 ]; then sudo apt-get install -qq --force-yes libgd2-xpm ia32-libs ia32-libs-multiarch; fi

    # Install Gradle
    - wget http://services.gradle.org/distributions/gradle-1.6-bin.zip
    - unzip gradle-1.6-bin.zip
    - export GRADLE_HOME=$PWD/gradle-1.6
    - export PATH=$GRADLE_HOME/bin:$PATH

    # Install Android SDK
    - wget http://dl.google.com/android/android-sdk_r21.0.1-linux.tgz
    - tar -xzf android-sdk_r21.0.1-linux.tgz
    - export ANDROID_HOME=$PWD/android-sdk-linux
    - export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools:${ANDROID_HOME}/build-tools
    - android update sdk --no-ui --force --filter platform-tools,extra-android-support,android-17,sysimg-17,extra-google-google_play_services
    - android update project --path . --name MozStumbler --target android-17

script: 
    - gradle clean
    - gradle build
