<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.mozstumbler"
    android:versionCode="34"
    android:versionName="0.18.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-feature android:name="android.hardware.location"/>
    <uses-feature android:name="android.hardware.location.gps"/>
    <uses-feature android:name="android.hardware.telephony"/>
    <uses-feature android:name="android.hardware.wifi"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name=".client.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.PreferencesScreen"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".client.mapview.MapActivity"
            android:label="@string/app_name"
            android:hardwareAccelerated="false" >
        </activity>

        <activity
            android:label="@string/app_name"
            android:name=".client.AboutActivity" >
        </activity>

        <receiver android:name=".client.TurnOffReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW"/>
                <action android:name="org.mozilla.mozstumbler.turnMeOff"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".client.StumblerBundleReceiver">
            <intent-filter>
                <action android:name="org.mozilla.mozstumbler.stumblerBundle"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".ScannerService"
            android:process=":.ScannerService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name">
        </service>

        <service
            android:name=".service.StumblerService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name">
        </service>

        <service
            android:name=".client.sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name=".service.sync.SyncService"
            android:process=":.ScannerService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <provider
            android:name=".service.Provider"
            android:authorities="org.mozilla.mozstumbler.provider"
            android:exported="false"
            android:syncable="true"
            android:process=":.ScannerService" />

    </application>

</manifest>
