<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.mozstumbler"
    android:versionCode="ANDROID_VERSIONCODE"
    android:versionName="ANDROID_VERSIONNAME">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:name=".client.MainApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".client.navdrawer.MainDrawerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".client.subactivities.PreferencesScreen"
            android:label="@string/action_preferences"
            android:parentActivityName=".client.navdrawer.MainDrawerActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.navdrawer.MainDrawerActivity" />
        </activity>
        <activity
            android:name=".client.subactivities.AboutActivity"
            android:label="@string/action_about"
            android:parentActivityName=".client.subactivities.PreferencesScreen">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.subactivities.PreferencesScreen" />
        </activity>
        <activity
            android:name=".client.subactivities.LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName=".client.subactivities.PreferencesScreen">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.subactivities.PreferencesScreen" />
        </activity>
        <activity
            android:name=".client.subactivities.LeaderboardActivity"
            android:configChanges="orientation|screenSize|keyboard"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".client.navdrawer.MainDrawerActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.navdrawer.MainDrawerActivity" />
        </activity>
        <activity
            android:name=".client.subactivities.DeveloperActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".client.navdrawer.MainDrawerActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".client.navdrawer.MainDrawerActivity" />
        </activity>

        <activity
            android:name=".client.ToggleWidgetHelper"
            android:label="@string/app_name"></activity>

        <service
            android:name=".client.ClientStumblerService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name"></service>

        <receiver android:name=".service.uploadthread.UploadAlarmReceiver" />

        <service android:name=".service.uploadthread.UploadAlarmReceiver$UploadAlarmService" />

        <receiver
            android:name=".client.ToggleWidgetProvider"
            android:icon="@drawable/ic_launcher"
            android:label="Mozilla Stumbler">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/toggle_widget_provider" />
        </receiver>
        <!-- For debugging the passive service -->
        <!--
        test with
        adb shell am broadcast -a android.intent.action.BOOT_COMPLETED -c android.intent.category.HOME -n org.mozilla.mozstumbler/.service.mainthread.PassiveServiceReceiver
        adb shell am broadcast -a android.intent.action.BOOT_COMPLETED -c android.intent.category.HOME -n org.mozilla.fennec/org.mozilla.mozstumbler.service.mainthread.PassiveServiceReceiver
        -->
        <!--
        service
            android:name=".service.stumblerthread.StumblerService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" >
        </service
        -->
        <!-- meta-data android:name="org.mozilla.mozstumbler.intent.action.MOZ_KEY" android:value="aValue" / -->
        <!--
        receiver android:name=".service.mainthread.PassiveServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.location.GPS_ENABLED_CHANGE" />
                <action android:name="android.location.GPS_FIX_CHANGE" />
            </intent-filter>
        </receiver
        -->
        <activity
            android:name=".client.ToggleWidgetHelper"
            android:label="@string/title_activity_toggle_widget_helper"></activity>
    </application>

</manifest>
